body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 10%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;


}





.certificate-img {
  max-width: 150%;
  height: auto;
  margin-bottom: 20px;
}

.certificate-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.certificate-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.certificate-date {
  font-size: 14px;
  color: #666666;
}
.back{
 
  position: fixed;
  bottom: 30px;
  right: 70px;
  
}
.back button {
  background-color: #3f8aa0; 
  color: #FFFFFF; 
  border-radius:10px;
  font-size: larger;
  border-color: #f5f5f5;

}