.heading {
    text-align: center;
    font-style: italic;
    color: rgb(22, 122, 209);
    padding-top: 150px;
    padding-left: 270px;
    font-size: large;
    background-image: url("contact.jpeg");
    background-repeat: no-repeat;
    background-position: 350px 75px;
    height: 150px;
    transform: rotate(15deg);
    filter: brightness(100%); /* Adjust the brightness percentage as needed */
  }
.side-by-side{

    display: flex;
    align-items: center;
}
    

div.contact {
    background-position: center;
    background-color: rgb(38, 98, 110, 0.5);
    margin-left: 40%;
    margin-right: 20%;
    border: 1px solid rgb(9, 133, 201);
    border-radius: 10px;
    padding-left: 10px;
    transform: rotate(15deg);
    height: 310px;
    width: 520px;
    animation: moveContact 5s ease-in-out 1;
  }
  
  @keyframes moveContact {
    0% {
      transform: rotate(28deg) translateX(0);
    }
    50% {
      transform: rotate(-3deg) translateX(5px);
    }
    /* 100% {
      transform: rotate(15deg) translateX(0);
    } */
  }

  .back{
 
      position: fixed;
      top: 30px;
      right: 70px;
      
  }
  .back button {
    background-color: #157988; 
    color: #FFFFFF; 
    border-radius:10px;
    font-size: larger;
 

  }

  
      
    
  
  
  
  
  



  
  
    
  
  




